{% extends 'main/base.html' %}
{% block content %}

<div class="row">
    <div class="col s12">
      <div class="card">
        
          <span class="card-title">
            <h1 style="color: black;">{{mo.title}}</h1>
            <div>

                <span style="color: rgb(115, 109, 109);">IMDB rating - {{mo.rating}} &nbsp; Metascore - {{mo.meta_rating}}  &nbsp; {{mo.runtime}} &nbsp; {{mo.year}} </span>
            </div>
            <h5 style="color: rgb(20, 18, 18);">{{mo.plot}}</h5>
            
         
            <table class="highlight">
             
               
             <tbody style="color: rgb(0, 0, 0);">
                 <tr>
                   <td>Director</td>
                   <td>{{mo.Director}}</td>
                 </tr>

                
                 <tr>
                   <td>Genre</td>
                   
                   <td>Romance</td>             
                 </tr>
                 

                  <tr>
                    <td>
                        Votes
                    </td>
                    <td>
                        {{mo.vote}}
                    </td>
                  </tr>
                 
                 
                
         
               </tbody>
             </table>
        </span>
        </div>
      </div>
    </div>

<h5>Cast and Crew</h5>
 <!-- <table>
  {%for key, value in movie.cast.items %}
  <tr>
    <td>{{key}}</td>
    <td>{{value}}</td>
  </tr>
  {%endfor%}
</table> -->




<div class="row">
  {%for key, value in mo.cast.items %}
  {% if key == mo.title %}
  {% for x in value %}
  <div class="col s4"><i class="large material-icons">account_circle</i><p>{{x}}</p></div>
  {% endfor %}
        {% endif %}
  {%endfor%}
</div> 




{% endblock %}